body {
  font-family: monospace;
}

#score, #level {
  height: 130px;
  width: 250px;
  float: left;
  text-align: center;
  font-size: 150px;
  letter-spacing: -0.1em;
  color: #555;
  line-height: 1;
}

#level {
  clear: left;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 120%;
  font-weight: normal;
}

#main {
  overflow: hidden;
}

.boxes {
  overflow: hidden;
  margin: 5px;
  padding: 5px;
  box-shadow: inset 0 0 5px #ccc;
}

.box {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 5px;
  outline: 5px solid transparent;
}

.playing .box, #scale .box.playing {
  outline: 5px solid yellow;
}

#scale {
  margin-bottom: 20px;
}

#scale .boxes {
  width: 1050px;
}

#scale .box {
  opacity: 0.05;
}

#scale .boxes .box.fade {
  opacity: 0.5;
}

#scale .box.in-scale, #clue .boxes, #target .box {
  cursor: pointer;
  opacity: 1;
}

#scale .box.in-scale:hover {
  background: url(play.png) no-repeat 23 23;
}

#clue {
  float: left;
}

#clue .boxes:hover .box {
  background: #999 url(play.png) no-repeat 23 23;
}

#clue .box {
  background-color: #999;
}

#clue .question-mark {
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  margin: 0;
}

#clue .boxes:hover .question-mark {
  display: none;
}

#arrow, #tick, #cross {
  float: left;
  height: 90px;
}

#arrow .arrow, #tick .tick, #cross .cross {
  line-height: 90px;
  font-size: 30px;
  margin: 0;
}

#tick, #cross {
  display: none;
  margin-left: 10px;
}

#tick {
  color: #0c0;
}

#cross {
  color: #c00;
}

#target {
  float: left;
}

#target .box:hover {
  background: url(cross.png) no-repeat 23 23;
}

#target .boxes {
  width: 500px;
  height: 70px;
}

#target .boxes.over {
  box-shadow: inset 0 0 10px #aaa;
}

#github {
  clear: left;
  padding-top: 50px;
}
